<!-- Forumulario: Diseña  -->

<fieldset class="collapsable js-slide">
  <include src="./headerForm.html" icon="fa fa-object-ungroup" title="Diseña"></include>

  <div class="design collapsable__content">
    <label for="palette1" class="design__label">
      <div class="colors">Colores</div>
      <input id="palette1" type="radio" name="palette" class="design__radio" checked />
      <ul class="palette1__list">
        <li class="design__color color1">Color A</li>
        <li class="design__color color2">Color B</li>
        <li class="design__color color3">Color C</li>
      </ul>
    </label>

    <label for="palette2" class="design__label">
      <input id="pallete2" type="radio" name="palette" class="design__radio" />
      <ul class="palette2__list">
        <li class="design__color color1">Color A</li>
        <li class="design__color color2">Color B</li>
        <li class="design__color color3">Color C</li>
      </ul>
    </label>

    <label for="palette3" class="design__label">
      <input id="palette3" type="radio" name="palette" class="design__radio" />
      <ul class="palette3__list">
        <li class="design__color color1">Color A</li>
        <li class="design__color color2">Color B</li>
        <li class="design__color color3">Color C</li>
      </ul>
    </label>
  </div>
</fieldset>