<!-- Forumulario: Diseña  -->

<fieldset class="collapsable js-slide1">
  <include src="./headerForm.html" jsCollapsable="js-design" arrow="fa fa-angle-up" icon="fa fa-object-ungroup"
    title="Diseña"></include>

  <div class="open collapsable__hide  design  js-content">
    <label for="palette1" class="design__label">
      <div class="colors">Colores</div>
      <input id="palette1" type="radio" value="1" name="palette" class="design__radio js-palette" checked />

      <ul class="palette1">
        <li class="design__color color1">Color A</li>
        <li class="design__color color2">Color B</li>
        <li class="design__color color3">Color C</li>
      </ul>
    </label>

    <label for="palette2" class="design__label">
      <input id="pallete2" type="radio" value="2" name="palette" class="design__radio js-palette" />
      <ul class="palette2">
        <li class="design__color color1">Color A</li>
        <li class="design__color color2">Color B</li>
        <li class="design__color color3">Color C</li>
      </ul>
    </label>

    <label for="palette3" class="design__label">
      <input id="palette3" type="radio" value="3" name="palette" class="design__radio js-palette" />
      <ul class="palette3">
        <li class="design__color color1">Color A</li>
        <li class="design__color color2">Color B</li>
        <li class="design__color color3">Color C</li>
      </ul>
    </label>

    <label for="palette4" class="design__label">
      <input id="palette4" type="radio" value="4" name="palette" class="design__radio js-palette" />
      <ul class="palette4">
        <li class="design__color color1">Color A</li>
        <li class="design__color color2">Color B</li>
        <li class="design__color color3">Color C</li>
      </ul>
    </label>

  </div>
</fieldset>