<!-- Formulario: Rellena -->
<fieldset class="collapsable">
  <legend class="collapsable__header fill">
    <i class="icon__left fa fa-keyboard-o" aria-hidden="true"></i>
    <span class="collapsable__title">Rellena</span>
    <i class="icon--right fa fa-angle-down" aria-hidden="true"></i>
  </legend>

  <div class="collapsable__content fill">
    <label for="name" class="form__label">Nombre completo</label>
    <input type="text" id="name" class="form__inputText" />

    <label for="job" class="form__label">Profesión</label>
    <input type="text" id="job" class="form__inputText" />

    <label for="photo" class="form__label">Imagen de perfil</label>
    <div class="fillPhoto">
      <button class="card__btn">Añadir imagen</button>
      <div class="fillPhoto__preview"></div>
    </div>

    <label for="email" class="form__label">Email</label>
    <input id="email" type="email" class="form__inputText" />

    <label for="phone" class="form__label">Teléfono</label>
    <input id="phone" type="tel" class="form__inputText" />

    <label for="linkedin" class="form__label">Linkedin</label>
    <input id="linkedin" type="text" class="form__inputText" />

    <label for="github" class="form__label">GitHub</label>
    <input id="github" type="text" class="form__inputText" />
  </div>
</fieldset>
