<!-- Formulario: Rellena -->
<fieldset class="collapsable">
  <include
    src="./headerForm.html"
    icon="fa fa-keyboard-o"
    title="Rellena"
  ></include>

  <div class="fill">
    <label for="name" class="form__label">Nombre completo</label>

    <input
      name="full_name"
      value=""
      type="text"
      id="name"
      class="form__inputText js-name"
      placeholder="Ej: Sally Jill"
    />

    <label for="job" class="form__label">Puesto</label>
    <input
      name="job"
      value=""
      type="text"
      id="job"
      class="form__inputText"
      placeholder="Ej: Front-end unicorn "
    />

    <label for="photo" class="form__label">Imagen de perfil</label>
    <div class="photo">
      <!-- <input class="TEST" type="file" /> -->
      <button class="photo__btn">Añadir imagen</button>
      <input name="photo" class="photo__preview" id="photo" />
    </div>

    <label for="email" class="form__label">Email</label>
    <input
      name="email"
      value=""
      id="email"
      type="email"
      class="js-email form__inputText"
      placeholder="Ej: sally-hill@gmail.com "
    />

    <label for="phone" class="form__label">Teléfono</label>
    <input
      name="phone"
      value=""
      id="phone"
      type="tel"
      class="form__inputText"
      placeholder="Ej: 555666888"
    />

    <label for="linkedin" class="form__label">Linkedin</label>
    <input
      name="linkedin"
      value=""
      id="linkedin"
      type="text"
      class="form__inputText"
      placeholder="Ej: linkekin.com/in/sally..sally-hill"
    />

    <label for="github" class="form__label">Github</label>
    <input
      name="github"
      value=""
      id="github"
      type="text"
      class="form__inputText js-github"
      placeholder="Ej: @sally-hill"
    />
  </div>
</fieldset>
