<nav class="social">
  <ul class="social__menu">
    <li class="social__menu--item">
      <a href="" class="js-phonePreview"><i class="fas fa-mobile-alt"></i></a>
    </li>

    <li class="social__menu--item">
      <a class="js-emailPreview" href=""><i class="fas fa-envelope"></i></a>
    </li>

    <li class="social__menu--item">
      <a class="js-linkedinPreview" href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </li>

    <li class="social__menu--item">
      <a class="js-githubPreview" href="" target="_blank"><i class="fab fa-github-alt"></i></a>
    </li>
    <li class="social__menu--home">
      <a class="" href="http://beta.adalab.es/project-promo-l-module-2-team-2/" target="_blank">
        <img src="./assets/images/favicon.png" class="social__menu--icon homeIcon filter" title="thisIsMe web"
          alt="this is me logo" /></a>
    </li>
  </ul>
</nav>