<section class="resetSection">
  <div class="resetSection__wrapper">
    <button class="resetSection__wrapper--button">Reset</button>
    <article class="sample">
      <h2 class="sample__name">Sara Molona y Sagra</h2>
      <h3 class="sample__subtitle">Front-end developer</h3>
      <img
        class="sample__photo"
        src="http://via.placeholder.com/240x200"
        alt=""
      />
      <nav class="sample__social">
        <ul class="menu">
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </nav>
    </article>
  </div>
</section>
