<section class="resetSection">
  <div class="resetSection__wrapper">
    <div class="trash"><button class="button"><i class="far fa-trash-alt"></i> <a class="button__reset"
          href="">Reset</a> </button></div>
    <article class="sample">
      <div class="sample__bar"></div>
      <h3 class="sample__name js-preview-name">Nombre Apellido</h3>
      <h4 class="sample__subtitle js-positionPreview">Front-end developer</h4>
      <img class="sample__photo" src="./assets/images/womanCamera.jpg" title="Tu foto" alt="Imagen Mujer" />

      <include src="./navArticle.html"></include>
    </article>
  </div>
</section>