<section class="resetSection">
  <div class="resetSection__wrapper">
    <button class="resetSection__wrapper--button"><i class="far fa-trash-alt"></i> <a href="">Reset</a> </button>
    <article class="sample">
      <h2 class="sample__name">Sara Berta Laura Sagra</h2>
      <h3 class="sample__subtitle">Front-end developer</h3>
      <img class="sample__photo" src="./assets/images/mujer-.jpg" title="Tu foto" alt="Imagen Mujer" />

      <include src="./navArticle.html"></include>
    </article>
  </div>
</section>