<!-- Formulario: Comparte  -->
<fieldset class="collapsable">
  <include
    src="./headerForm.html"
    icon="fa fa-share-alt"
    title="Comparte"
  ></include>

  <!-- <div class="share">
    <button class="share__btn">
      <i class="share__btn--icon fa fa-address-card-o" aria-hidden="true"></i
      >Crear tarjeta
    </button>
  </div> -->

  <div class="share">
    <div class="share__btn">
      <i class="share__btn--icon fa fa-address-card-o" aria-hidden="true"></i>
      <input class="share__btn--text" type="submitt" value="Crear tarjeta" />
    </div>
  </div>
</fieldset>
