<!-- Formulario: Comparte  -->
<fieldset class="collapsable js-slide3">
  <include src="./headerForm.html" jsCollapsable="js-share" icon="fa fa-share-alt" title="Comparte"></include>

  <div class="shareContainer js-content">
    <section class="share collapsable__hide">
      <div class="share__btn">
        <i class="share__btn--icon fa fa-address-card-o" aria-hidden="true"></i>
        <input class="share__btn--text" type="submitt" value="Crear tarjeta" name="shareButton" />
      </div>

      <section class="created">
        <h3 class="created__title">La tarjeta ha sido creada:</h3>
        <p class=" created__url">https://awesome-profile-card.com?id=A456DF0001 </p>
        <button class="created__btnTwitter"><i class="fa fa-twitter" aria-hidden="true"></i> Compartir en
          twitter</button>
      </section>
    </section>
  </div>
</fieldset>