<!-- Formulario: Comparte  -->
<fieldset class="collapsable js-slide3">
  <include
    src="./headerForm.html"
    jsCollapsable="js-share"
    arrow="fa fa-angle-down"
    icon="fa fa-share-alt"
    title="Comparte"
  ></include>

  <div class="shareContainer js-content">
    <section class="share collapsable__hide">
      <div class="share__btn js-create-btn">
        <button class="share__btn--text">
          <i
            class="share__btn--icon fa fa-address-card-o"
            aria-hidden="true"
          ></i
          >Crear tarjeta
        </button>
      </div>
    </section>
  </div>
</fieldset>
<section class="created js-created created--hidden">
  <h3 class="created__title">La tarjeta ha sido creada:</h3>
  <a class="created__url js-card-result" href=""></a>
  <button class="created__btnTwitter">
    <a href="https://twitter.com/?lang=es" target="_blank" class="twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i> Compartir en twitter</a
    >
  </button>
</section>
<section class="js-error created__error created--hidden">
  <h4 class="created__error--title">Por favor complete los datos:</h4>
  <p class="js-consoleError"></p>
</section>
