.collapsable {
  width: rem(320);
  height: auto;
  margin: auto;
  text-decoration: none;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }
  &__title {
    flex-grow: 1;
  }
  &__icon {
    font-size: rem(18);
  }
  &--left {
    padding-right: rem(20);
  }
}
