<section class="resetSection">
    <button class="resetSection__button">
        Reset
    </button>
    <article class="article">
        <h2 class="article__name"> Sara Molona y Sagra Guay</h2>
        <h3 class="article__subtitle">
            Front-end developer
        </h3>
        <img class="article__photo" src="http://via.placeholder.com/240x200" alt="">
        <nav class="article__social">
            <ul class="menu">
                <li> <a href=""></a></li>
                <li> <a href=""></a></li>
                <li> <a href=""></a></li>
                <li> <a href=""></a> </li>
            </ul>
        </nav>
    </article>

</section>