@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1024px) {
    @content;
  }
}

@mixin fontNormal {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  @content;
}

@mixin buttonTransition {
  transition-property: transform(0.5 ease, box-shadow);
  transition-duration: 0.3s;
  @content; 
}

@mixin hover {
  &:hover {
    transform: scale(1.1);
  }
}