// fonts
/*Merriweather-Black
OpenSans
OpenSans-SemiBold
Montserrat-Bold
Montserrat-Regular*/

// colors
$color-black: #000000;
$color-dark-green-blue: #114e4e;
$color-dirty-blue: #438792;
$color-hospital-green: #a2deaf;
$color-light-khaki: #f9f4dc;
$color-white-three: #ffffff;
$color-dull-orange: #e17334;
