.collapsable {
  height: auto;
  text-decoration: none;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: rem(27);
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }
  &__title {
    flex-grow: 1;
    font-size: $sizeTitle;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $fontText;
    color: $colorTitle;
  }
  &__icon {
    font-size: rem(18);
  }
  &--left {
    padding-right: rem(20);
  }
}
