.collapsable {
  height: auto;
  text-decoration: none;
  border: none;
  border-bottom: rem(1) solid $colorBorFooter;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: rem(10);
    cursor: pointer;
    /*  &:hover {
      background-color: #eee;
    } */
    &--icon {
      padding-top: rem(3);
      color: $colorIcon;
      font-size: $sizeTitle;
    }
    &--arrow {
      font-size: $sizeTitle;
      color: $colorSections;
      padding-top: rem(3);
    }
  }
  &__title {
    flex-grow: 0.9;
    font-size: $sizeTitle;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $fontText;
    color: $colorSections;
  }
}

.collapsable.collapsable--close {
  .collapsable__icon--right {
    transform: rotate(180deg);
  }
  .collapsable__content {
    display: none;
  }
}
