.collapsable {
  height: auto;
  text-decoration: none;
  border: none;
  padding-bottom: rem(10);
  border-bottom: rem(1) solid $colorBorFooter;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: rem(10);
    cursor: pointer;
    &--icon {
      padding-top: rem(3);
      color: $colorIcon;
      font-size: $sizeTitle;
    }
    &--arrow {
      font-size: $sizeTitle;
      color: $colorSections;
      padding-top: rem(3);
    }
  }
  &__title {
    flex-grow: 0.9;
    font-size: $sizeTitle;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $fontText;
    color: $colorSections;
  }
}

// hace que la flecha rote y oculte la seccion collapsable__content de Diseña. Cuando el collapsable tenga clase close, su hijo rote 180 grados y oculte el contenido. Por eso se aplica a el padre.

/* .collapsable.collapsable--close {
  .collapsable__icon--right {
    transform: rotate(180deg);
  }
  .collapsable__content {
    display: none;
  }
} */

//clases especiales collapsables
.fill,
.share {
  display: none;
}
.collapsable.collapsable--open {
  .collapsable {
    &__hide {
      display: block;
    }
    &__turn {
      transform: rotate(180deg);
    }
  }
}
.collapsable.collapsable--close {
  .collapsable {
    &__hide {
      display: none;
    }
    &__turn {
      transform: rotate(180deg);
    }
  }
}
