.design__square {
  &-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $fontText;
    color: $colorTitle;
    text-transform: up;
  }

  &-radio {
    margin-right: rem(10);
  }

  &-color {
    display: inline-block;
    width: rem(30);
    height: rem(25);
    overflow: hidden;
    // ¿está declarando la variable aquí??
    color: rgba($color: white, $alpha: 0);
    list-style: none;
  }
}

.palette-1 {
  .color-1 {
    background-color: $colorPalette1A;
  }
  .color-2 {
    background-color: $colorPalette1B;
  }
  .color-3 {
    background-color: $colorPalette1C;
  }
}

.palette-2 {
  .color-1 {
    background-color: $colorPalette2A;
  }
  .color-2 {
    background-color: $colorPalette2B;
  }
  .color-3 {
    background-color: $colorPalette2C;
  }
}

.palette-3 {
  .color-1 {
    background-color: $colorPalette3A;
  }
  .color-2 {
    background-color: $colorPalette3B;
  }
  .color-3 {
    background-color: $colorPalette3C;
  }
}
