.fill {
  margin-bottom: rem(30);
  width: 100%;
}
.form {
  width: 100%;
  &__label {
    display: block;
    font-family: $fontText;
    font-size: $sizeSmall;
    color: $colorMediaA$colorComplementaryA;
    line-height: rem(20);
    @include fontNormal;
    padding: rem(20) 0 rem(7) 0;
  }
  &__inputText {
    width: 100%;
    height: rem(30);
    font-family: $fontText;
    font-size: $sizeSmall;
    color: $colorComplementaryA;
    line-height: rem(20);
    @include fontNormal();
    padding-left: rem(9);
    border: rem(1) solid $colorMediaC;
  }
}
.photo {
  display: flex;
  flex-direction: row;
  &__btn {
    width: rem(140);
    height: rem(30);
    border: none;
    background-color: $colorIcon;
    border-radius: rem(3);
    box-shadow: 0 0 rem(4) 0 rgba(0, 0, 0, 0.32);
    font-family: $fontText;
    font-size: $sizeSmall;
    color: $colorBg;
    cursor: pointer;
    transition-property: transform(0.5 ease, box-shadow);
    transition-duration: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__preview {
    border: 1px solid $colorMediaC;
    width: rem(30);
    height: rem(30);
    margin: 0 rem(74) 0 rem(20);
    background-image: url('../images/womanCamera.jpg');
    background-size: cover;
  }
}

.hidden {
  display: none;
}
