.header {
  width: 100%;
  height: rem(111);

  &__wrapper {
    width: rem(320);
    height: rem(111);
    margin: auto;
    padding: rem(31) rem(79) rem(30) rem(40);

    &--brandCard {
      width: rem(201);
      height: rem(50);
    }
  }
}
