.header {
  width: 100%;
  height: rem(111);
  @include tablet {
    max-width: rem(1100);
    margin: auto;
  }

  &__wrapper {
    width: rem(320);
    height: rem(111);
    margin: auto;
    padding: rem(31) rem(79) rem(30) rem(40);
    @include tablet {
      margin-left: 0;
      max-width: rem(1100);
      padding: rem(31) rem(79) rem(30) 0;
    }

    &--brandCard {
      width: rem(201);
      height: rem(50);
    }
  }
}
