.main {
  background-color: $colorBgHome;
  width: 100%;
  /* height: calc(100vh-110px); */
  /*   height: rem(458); */
   height: 80vh; /*añadido*/
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; /*lo hemos cambiado, antes flex-start*/
  align-items: center;

  @include tablet {
    height: rem(963);
  }

  &__logo {
    margin: rem(95) rem(35) rem(35.4) rem(35);
    @include tablet {
      margin: rem(350) rem(174) rem(31) rem(175);
    }
    &--image {
      width: rem(250);
      height: rem(63);
      @include tablet {
        width: rem(419);
        height: rem(105);
      }
    }
  }
  &__slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title {
      color: $colorIcon;
      font-family: $fontTitle;
      font-size: rem(19);
      @include tablet {
        font-size: rem(24);
      }
    }

    &--text {
      width: rem(264.8);
      text-align: center;
      color: $colorMediaA;
      font-size: rem(13);
      font-family: $fontText;
      @include tablet {
        width: rem(331);
        font-size: rem(16);
      }
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    border: solid rem(1.6) rgba($color: $colorIcon, $alpha: 0.21);
    border-radius: rem(4);
    width: rem(268);
    height: rem(73.8);
    margin-top: rem(17.8);
    @include tablet {
      border: solid rem(2) rgba($color: $colorIcon, $alpha: 0.21);
      border-radius: rem(5);
      width: rem(325);
      height: rem(86);
      margin-top: rem(27);
    }

    &--tandem {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: rem(60);
      height: rem(48.8);
      margin-top: rem(15);
      margin-left: rem(12);
      margin-right: rem(12);
      @include tablet {
        width: rem(75);
        height: rem(61);
        margin-left: rem(15);
        margin-right: rem(15);
      }
    }
    &--sections {
      font-family: $fontText;
      color: $colorSections;
      font-size: rem(13);
      @include tablet {
        font-size: rem(16);
      }
    }
  }

  &__start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(129);
    height: rem(42);
    border-radius: rem(21);
    background-color: $colorMediaB;
    color: $colorBg;
    text-transform: uppercase;
    font-family: $fontText;
    font-weight: 600;
    margin-top: rem(38.6);
    margin-bottom: rem(30);
    @include tablet {
    margin-top: rem(186);
    margin-bottom: rem(59);
  }
  }
}
.far {
  color: $colorIcon;
  font-size: rem(22.4);
}
.fas {
  color: $colorIcon;
  font-size: rem(22.4);
}

@include tablet {
  .far {
    font-size: rem(28);
  }
  .fas {
    font-size: rem(28);
  }
}
