.mainProfile {
  width: 100%;
  background-image: linear-gradient(to bottom, #f5f5f5, #ffffff 9%);

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row-reverse;
      justify-content: center;
      margin: auto;
      @include desktop {
        max-width: rem(1200);
      }
    }
  }
}
