.resetSection {
  background-color: pink;
  width: 100%;
  grid-column: span 2;
  &__wrapper {
    width: 320px;
    margin: auto;
  }
}

.article {
  width: 240px;
  height: 329px;
  margin: auto;
}
