.resetSection {
  width: 100%;
  background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
  min-height: rem(500);
  @include tablet {
    margin: rem(20) rem(40);
    border-radius: rem(5);
    min-height: 100vh;
  }

  &__wrapper {
    width: rem(320);
    margin: auto;
    width: 100%;
    .trash {
      width: rem(240);
      margin: auto;
    }

    .button {
      width: rem(75);
      height: rem(30);
      border: rem(1) solid $colorBg;
      border-radius: rem(15);
      margin-top: rem(38);
      margin-bottom: rem(20);
      background-color: transparent;
      font-family: $fontText;
      color: $colorSections;
      font-size: rem(12);
      text-transform: uppercase;
      cursor: pointer;
      transition-property: transform(0.5 ease, box-shadow);
      transition-duration: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.fa-trash-alt {
  padding-right: rem(5);
}
.sample {
  max-width: rem(240);
  margin: auto;
  background: linear-gradient(rgba($colorMediaC, 0.7), white);
  &__bar {
    width: rem(5);
    height: rem(42);
    display: inline-block;
    position: absolute;
    margin-top: rem(23);
    background-color: $colorMediaB;
  }
  &__name {
    font-family: $fontSecondary;
    padding-top: rem(21);
    padding-left: rem(20);
    color: $colorMediaA;
    font-size: $sizeTitle;
    line-height: rem(20);
    padding: rem(23) 0 rem(4) rem(20);
  }
  &__subtitle {
    font-family: $fontSecondary;
    font-size: rem(16);
    padding-bottom: rem(10);
    padding: 0 0 rem(10) rem(20);
    font-weight: normal;
    color: $colorSections;
    line-height: rem(20);
  }
  &__photo {
    width: rem(240);
    height: rem(200);
    background-image: url('../images/womanCamera.jpg');
    background-size: cover;
  }
}
.social {
  margin: 0 rem(10) 0 rem(10);

  &__menu {
    list-style: none;
    display: flex;

    &--item {
      width: rem(32);
      height: rem(32);
      border: rem(2) solid $colorMediaC;
      border-radius: 50%;
      padding: rem(12);
      margin: rem(5) rem(5) rem(12) rem(5);
      color: $colorSections;
      font-size: $sizeTitle;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--home {
      padding: rem(8);
    }
  }
}
.homeIcon {
  cursor: pointer;
  transition-property: transform(0.5 ease, box-shadow);
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.3);
  }
}
