.shareContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: rem(10);
}
.share {
  padding: rem(30) 0;
  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: rem(200);
    height: rem(50);
    background-color: $colorIcon;
    border-radius: rem(12);
    box-shadow: 0 rem(1) rem(6) 0 rgba(0, 0, 0, 0.32);
    cursor: pointer;
    @include buttonTransition();
    @include hover();

    &--icon {
      padding-left: rem(17);
      width: rem(25);
      height: rem(22);
      color: $colorBg;
    }
    &--text {
      text-align: center;
      background-color: transparent;
      border: none;
      font-family: $fontText;
      font-size: $sizeTitle;
      color: $colorBg;
      text-transform: uppercase;
      @include fontNormal {
        font-weight: 600;
      }
    }
  }
}
.created {
  height: rem(123);
  padding-top: rem(20);
  border-top: rem(1) solid $colorBorFooter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__title {
    font-family: $fontText;
    font-size: $sizeTitle;
    color: #54585a;
    @include fontNormal {
      font-weight: 600;
    }
  }
  &__url {
    font-family: $fontText;
    font-size: rem(12);
    color: $colorIcon;
  }
  &__btnTwitter {
    width: rem(181);
    height: rem(30);
    margin-bottom: rem(20);
    border-radius: rem(3);
    border: none;
    background-color: #00a0f5;
    box-shadow: 0 0 rem(4) 0 rgba(0, 0, 0, 0.32);
    color: $colorBg;
    font-size: $sizeSmall;
    @include fontNormal;
    cursor: pointer;
    transition-property: transform(0.5 ease, box-shadow);
    transition-duration: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
