<main class="main">

    <div class="shake-slow shake-constant main__logo">
      <img class="main__logo--image" src="./assets/images/thisismeLogo@2x.png" alt="Logo This is me" title="logo" />
    </div>


  <section class="main__slogan">
    <h2 class="main__slogan--title">Crea tu tarjeta de visita</h2>
    <p class="main__slogan--text">
      Tienes mucho que ofrecer
    </p>
    <p class="main__slogan--text">
      ¡Preséntate al mundo!
    </p>
  </section>

  <section class="main__icons">
    <div class="main__icons--tandem">
      <i class="iconMain far fa-object-ungroup"></i>
      <span class="main__icons--sections">Diseña</span>
    </div>
    <div class="main__icons--tandem">
      <i class="iconMain far fa-keyboard"></i>
      <span class="main__icons--sections">Rellena</span>
    </div>
    <div class="main__icons--tandem">
      <i class="iconMain fas fa-share-alt"></i>
      <span class="main__icons--sections">Comparte</spa>
    </div>
  </section>
  <div class="main__star">
    <div class="main__start--btn"><a href="./profile.html">Comenzar</a></div>
  </div>
</main>