@import "core/variables";
@import "core/functions";
@import "core/mixins";
@import "core/reset";
/* @import "layout/page"; */
@import "layout/header";
@import "layout/main-home";
@import "layout/profile";
@import "layout/footer";
